#carouselExampleControls.carousel.slide(data-ride='carousel')
  .carousel-inner
    .carousel-item.active
      img.pic.d-block.w-100(src='/images/Slide1-3.jpg' alt='Banner 1')
    .carousel-item
      img.pic.d-block.w-100(src='/images/banner2.jpg' alt='Banner 2')
    .carousel-item
      img.pic.d-block.w-100(src='/images/banner3.jpg' alt='Banner 3')
  button.carousel-control-prev(type='button' data-target='#carouselExampleControls' data-slide='prev')
    span.carousel-control-prev-icon(aria-hidden='true')
    span.sr-only Previous
  button.carousel-control-next(type='button' data-target='#carouselExampleControls' data-slide='next')
    span.carousel-control-next-icon(aria-hidden='true')
    span.sr-only Next
