extends ../../layouts/default.pug

block main
    .container.my-5 
        .row 
            .col-6.text-center.mx-auto
                a(
                    href="/admin/revenue/collect"
                    class="btn btn-primary"
                ) Quản lý thu
            .col-6.text-center.mx-auto
                a(
                    href="/admin/revenue/spend"
                    class="btn btn-danger"
                ) Quản lý chi